name: e2e

on:
  push:
    branches: [main]

jobs:
  kubernetes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install kubectl
        uses: azure/setup-kubectl@v2.0
      - name: Setup Kubernetes
        uses: nolar/setup-k3d-k3s@v1
        with:
          version: v1.21  # E.g.: v1.21, v1.21.2, v1.21.2+k3s1
          github-token: ${{ secrets.GIT_ACCESS }}
      - name: Setup Flux
        uses: fluxcd/flux2/action@main
        with:
          version: 0.27.4
      - name: Install Flux in Kubernetes 
        run: flux install --log-level debug
      - name: Create Secret Git Plateform
        run: |
          kubectl apply -f - <<EOF > cat 
          apiVersion: v1
          kind: Secret
          metadata:
            name: flux-system
            namespace: flux-system
          type: Opaque
          data:
            username: ${{ secrets.USER_NAME }}
            password: ${{ secrets.USER_TOKEN }}
      - name: create GitRepository
        run: |
          kubectl apply -f - <<EOF > cat
          apiVersion: source.toolkit.fluxcd.io/v1beta1
          kind: GitRepository
          metadata:
            name: flux-system
            namespace: flux-system
          spec:
            interval: 15m
            ref:
              branch: main
            secretRef:
              name: flux-system
            url: https://github.com/khalil99-68/Infrastructure
          ---
          apiVersion: source.toolkit.fluxcd.io/v1beta1
          kind: Kustomization
          metadata:
            name: flux-system
            namespace: flux-system
          spec:
            interval: 1m0s
            path: ./clusters/my-cluster
            prune: true
            sourceRef:
              kind: GitRepository
              name: flux-system
          EOF

      - name: Verify cluster reconciliation
        run: |
           kubectl -n flux-system wait kustomization/kyverno-controller --for=condition=ready --timeout=10m
           kubectl -n flux-system wait kustomization/kyverno --for=condition=ready --timeout=10m
           kubectl -n flux-system wait kustomization/kyverno-policies --for=condition=ready --timeout=10m
      - name: List reconciliations
        run: |
          flux get all --all-namespaces
